<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="azure_path" value="asazure://northeurope.asazure.windows.net/nrusprmrdwideunoaas"/>
		<add key="azure_database" value="OSA"/>
		<add key="azure_login" value="ds@alidi.ru"/>
		<add key="azure_password" value="FyfkbnbrL@yys[2021"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>